@font-face {
  font-family: 'kollektif';
  src: url('kollektif.woff');

}

@font-face {
  font-family: 'kollektif-Bold';
  src: url('kollektif-Bold.woff');
  font-weight: bold;

}

@font-face {
  font-family: 'kollektif-Italic';
  src: url('kollektif-Italic.woff');
  font-style: italic;

}

@font-face {
  font-family: 'kollektif-BoldItalic';
  src: url('kollektif-BoldItalic.woff');
  font-weight: bold;
  font-style: italic;

}

html {
	font-family: 'kollektif', Fallback, sans-serif;
}

body {
	font-family: 'kollektif', Fallback, sans-serif;
}

b,
strong {
	font-family: 'kollektif-Bold'
	font-weight: bolder;
}
