@font-face {
  font-family: 'kollektif';
  src: url('Kollektif.woff');

}

@font-face {
  font-family: 'kollektif-Bold';
  src: url('Kollektif-Bold.woff');
  font-weight: bold;

}

@font-face {
  font-family: 'kollektif-Italic';
  src: url('Kollektif-Italic.woff');
  font-style: italic;

}

@font-face {
  font-family: 'Kollektif-BoldItalic';
  src: url('Kollektif-BoldItalic.woff');
  font-weight: bold;
  font-style: italic;

}

html {
	font-family: 'Kollektif', Fallback, sans-serif;
}

body {
	font-family: 'Kollektif', Fallback, sans-serif;
}

b,
strong {
	font-family: 'Kollektif-Bold'
	font-weight: bolder;
}
